
:root{
    /*Transição*/
    --transition-1: 0.25s ease;
}
    



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom right, #DBCDCD 55%,  #D6A85E 45%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
  
  
}

.login-box {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    height: 550px;
    text-align: center;
    color: #fff;
   

}

h2 {
    margin-bottom: 20px;
    color: #fff
}

.btn-social {
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: #e7e7e7;
    cursor: pointer;
    
   
    
}


.grupo-btnsocial {
    padding-bottom: 20px;
}


.grupo-btnsocial img{
    margin-right: 10px;
    vertical-align: middle;
   
}

.google span{
    display: inline-block;
    vertical-align: middle;
}

.grupo {
    margin-bottom: 15px;
    text-align: center;
    
}

.grupo span {
    display: flex;
}



.login-email{
    width: 100%;
    justify-content: center;
    color: #fff;
    background-color: transparent;
    align-items: center;
    padding: 15px 150px;
    text-transform: uppercase;
    border-radius: 10px;
    max-width: max-content;
    overflow: hidden;
    border: 2px solid #fff;
    margin-top: 20px;
    cursor: pointer;
    transition: .25s ease;

}

.login-email:hover {
    cursor: text; 
    border: 2px solid  #D6A85E;
}

  
.login-senha {
    width: 100%;
    justify-content: center;
    color: #fff;
    background-color: transparent;
    align-items: center;
    padding: 15px 150px;
    text-transform: uppercase;
    border-radius: 10px;
    max-width: max-content;
    overflow: hidden;
    border: 2px solid #fff;
    margin-top: 20px;
    cursor: pointer;
    transition: .25s ease;
    
}

.login-senha:hover {
    cursor: text; 
    border: 2px solid  #D6A85E;
}




.esqueci-senha {
    padding-bottom: 25px;
    color: #9e7b44;
  
}

.esqueci-senha{
    color: #9e7b44;
    transition: .25s ease;
}

.esqueci-senha:is(:hover, :focus) {
    color: #D6A85E;
 }

.cadastrar {
    margin-top: 20px;
}

.cadastre-se{
    color: #9e7b44;
    transition: .25s ease;
}

.cadastre-se:is(:hover, :focus) {
    color: #D6A85E;
 }

/*BOTÃO VOLTAR*/

.back-top-btn {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #6D380E;;
    color: #fff;
    font-size: 30px;
    text-align: center;
    border-radius: 30px;
    padding-top: 10px;
    z-index: 4;
    transition: var(--transition-1);
}


.back-top-btn:is(:hover, :focus) {
    color: #D6A85E;
}